<div class="container">
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <%= link_to "Posts", "/posts" %>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <%= link_to "Feedback", "/feedback" %>
      </div>
    </div>
  </div>
</div>
</div>
