<div class="container">
<div class="row">
  <div class="col s8 offset-s2">
    <% @posts.each do |p| %>
      <div class="card">
        <div class="card-content">
          <%= link_to p.title, {:controller => "blog", :action => "show_post", :id => p.id} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
