<div class="conatiner">
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <%= @post.title %>
        <br>
        <%= @post.body %>
      </div>
    </div>
    <h5>Comments</h5>
    <div class="card">
      <div class="card-content">
        <%= form_for(@comment, :validate => true, :url => {:controller => "blog", :action => "add_comment", :type => "comment", :post_id => @post.id}) do |f| %>
          <%= f.text_field :username, :placeholder => "Username", class: "form-control" %>
          <%= f.text_field :body, :placeholder => "Add a comment...", class: "form-control" %>
          <%= f.submit "Comment", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <% @post.comments.each do |c| %>
      <div class="card">
        <div class="card-content">
          <div class="card">
            <div class="card-content">
              <%= c.username %>
              <br>
              <%= c.body %>
            </div>
          </div>
          <% c_reply = c %>
          <% while !c_reply.reply.nil? do %>
            <div class="row">
              <div class="col s10 offset-s2">
                <div class="card">
                  <div class="card-content">
                    <%= c_reply.reply.username %>
                    <br>
                    <%= c_reply.reply.body %>
                  </div>
                </div>
              </div>
            </div>
            <% c_reply = c_reply.reply %>
          <% end %>
          <%= form_for(@comment, :validate => true, :url => {:controller => "blog", :action => "add_comment", :type => "reply", :comment_id => c_reply.id, :post_id => @post.id}) do |f| %>
            <%= f.text_field :username, :placeholder => "Username", class: "form-control" %>
            <%= f.text_field :body, :placeholder => "Add a comment...", class: "form-control" %>
            <%= f.submit "Reply", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
